.flex {
  display: flex;
}

.aline {
  display: flex;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-start {
  display: flex;
  align-items:flex-start;
}

.direction-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.around {
  display: flex;
  justify-content: space-around;
}

.between {
  display: flex;
  justify-content: space-between;
}

.jus-center {
  display: flex;
  justify-content: center;
}

.flex-right {
  display: flex;
  justify-content: right;
}
.flex-left {
  display: flex;
  justify-content: right;
}

.flex-all {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
  overflow: hidden;
}